Collecting djangorestframework
  Downloading djangorestframework-3.15.2-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: django>=4.2 in c:\users\a\downloads\django-rest-api-mini-project\venv\lib\site-packages (from djangorestframework) (5.0.7)
Requirement already satisfied: asgiref<4,>=3.7.0 in c:\users\a\downloads\django-rest-api-mini-project\venv\lib\site-packages (from django>=4.2->djangorestframework) (3.8.1)
Requirement already satisfied: sqlparse>=0.3.1 in c:\users\a\downloads\django-rest-api-mini-project\venv\lib\site-packages (from django>=4.2->djangorestframework) (0.5.1)
Requirement already satisfied: tzdata in c:\users\a\downloads\django-rest-api-mini-project\venv\lib\site-packages (from django>=4.2->djangorestframework) (2024.1)
Downloading djangorestframework-3.15.2-py3-none-any.whl (1.1 MB)
   ---------------------------------------- 1.1/1.1 MB 16.8 MB/s eta 0:00:00
Installing collected packages: djangorestframework
Successfully installed djangorestframework-3.15.2
